---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Ritik Sahni - About">
	<main>
		<!-- Insert content. -->
		<h1>contact ritik.</h1>

		<a href="mailto:ritiksahni0203@gmail.com">Email Address</a>
	</main>
</Layout>
