---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ritik Sahni">
	<main>
		<div class="flex justify-center">
			Ritik Sahni
		</div>

		<div class="flex justify-center">
			I learn, build and share about technology. Currently diving into backend development and interested in building products for the web.
		</div>
	</main>
</Layout>
