---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/quicksand';
---

<Layout title="Ritik Sahni">
	<main class="h-screen">
		<div class="flex flex-col justify-center h-[20vh]">
			<p class="pt-2 font-quicksand tracking-wide font-light">
				I tinker with code, words, and tech. Unapologetically curious. Pursuing my undergrad at the Bangalore School of Design & Tech as a BCA student.
			</p>
		</div>
	</main>
</Layout>
