---
import Layout from '@layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Ritik Sahni - Posts">
	<main class="font-quicksand font-light">
		<!-- Insert content. -->
        <p class="text-2xl flex justify-center items-center">Posts</p>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</main>
</Layout>
