---
import Layout from '@layouts/Layout.astro';

const allProjects = [{
	title: 'WhatNote',
	description: 'Text ideas on Telegram, access them later online.',
	link: 'https://whatnote.besabi.co.in',
}, {
	title: 'OSS Bounty',
	description: 'A platform to post bounties for open-source issues. Built with Express.js, React. (NOT DEPLOYED)',
	link: 'https://github.com/ritiksahni/oss-bounty-backend',
}]
---

<Layout title="Ritik Sahni - About">
	<main class="font-quicksand font-light">
		<!-- Insert content. -->
		<h1>projects made by ritik.</h1>
		{allProjects.map((project, index) => {
			return (
			<div class="m-8">
					<a href={project.link}>
						<h2>{project.title}</h2>
					</a>
					<p>{project.description}</p>
				</div>
			)
		})}
	</main>
</Layout>
