---

---

<nav class="font-inter p-4 flex justify-between container w-full mx-auto max-w-4xl">
	<div class="flex justify-start">
		<a href="/">
			<p class="text-4xl font-rustlerBarter">Ritik Sahni</p>
		</a>
	</div>

	<div class="flex justify-end">
		<ul class="flex items-center gap-4">
			<li><a href="/projects">Projects</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>

