---

---

<nav>
	<div class="font-inter flex justify-center">
		<div class="">
			<a href="/">
				<p>Ritik Sahni</p>
			</a>
		</div>

		<div class="w-screen flex justify-center">
			<ul>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
