---

---

<nav class="font-inter p-4">
    <div class="navContainer flex justify-around">
        <div class="flex justify-start items-center">
            <a href="/">
                <p class="text-xl">Ritik Sahni</p>
            </a>
        </div>

        <div class="flex justify-center items-center">
            <ul class="flex gap-4">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

