---
const { title, postUrl } = Astro.props;
---

<div class="border-b-[0.5px] border-dashed border-white text-left pt-2">
    <a href={postUrl}>
        <h1 class="text-3xl font-proximaNova text-white pb-2">{title}</h1>
    </a>
</div>