---
import Navbar from '@components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource-variable/inter';
import '@fontsource-variable/quicksand';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			@font-face {
				font-family: 'Writer';
				src: url('fonts/PPWriter-Book.otf') format('opentype');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'Rustler Barter';
				src: url('fonts/rustlerbarter.otf') format('opentype');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'Proxima Nova';
				src: url('fonts/proximanova-bold.otf') format('opentype');
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}
		</style>
	</head>
	<body class='bg-[#0e0e0e] text-white'>
		<Navbar />
		<div class="container text-center text-wrap w-full mx-auto px-5 max-w-3xl font-inter">
			<slot/>
		</div>
	</body>
</html>

